.authLayout{
    color: rgb(var(--dark));
    overflow-x: hidden;
}
.authLayout h1{
    font-size: 45px;
    font-weight: 500;
    margin: 0;
}
.authLayout h5{
    color: rgb(var(--gray));
    font-size: 16px;
    font-weight: 400;
}
.authLayout label{
    font-size: 14px;
    font-weight: 500;
}
.authLayout input{
    width: 100%;
}
.authLayout .input-group-prepend{
    border: 1px solid rgb(var(--gray)) ;
    border-radius: 3px;
}
.authLayout .btn{
    font-size: 14px;
    height: 40px;
}
.authLayout p{
    font-size: 13px;
    font-weight: 500;
    color: rgb(var(--gray));
}
.authLayout a,
.authLayout a:hover{
    color: rgb(var(--dark))!important;
}