.slick-dots li button:before,
.slick-dots li.slick-active button:before{
  color: rgb(var(--dark));
}
@media(max-width: 576px){
  .screenshots{
    overflow: hidden;
  }
}
@media(min-width: 576px){
  .slick-prev:before,
  .slick-next:before {
    color: rgb(var(--dark))!important;
    opacity: 1!important;
  }
}